
.App {
  text-align: center;
  height: 100vh;

}

.App a {
  color: #282c34;
  text-decoration: none;
}

.App a:hover {
  text-decoration: underline;
}

.App-header {
  background-color: #282c34;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Nav *, .Nav a {
  color: white;
}

.Page {
  height: 100vh;
}

.Page-header, .Page-footer {
  background: #282c34;
  color: white;
}

.Page-body {
  background: purple;
  height: 100vh;
  overflow: scroll;

  background-color: white;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: #282c34;
}

.Page-body > div {
  padding: 0.5rem;
}

.Dashboard {
  text-align: left;
}

.About, .NotFound {
  margin: auto;
}

.DashboardCard .card .card-title {
  font-size: 100%;
  font-weight: bold
}

.DashboardCard .card {
  max-width: 1000px;
}

.DashboardCard .card .card-text {
  width: calc(100vw - 64px); /* 16px either side, inside and outside card */
  min-width: 400px;
  max-width: calc(1000px - 32px); /* 16px either side */
}